
html { 
	font-size: 62.5%;
} 

@media (min-width: 400px) {
	html { 
		font-size: 75%;
	}
}


body {
	background-color: rgb(51, 51, 51);/*#333333*/
	color: white;
	margin: 0;
	padding: 1.3rem 1.4rem;
	font-family: "Open Sans", "Noto Sans CJK TC", "Helvetica Neue", sans-serif;
	max-width: 80rem;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

input, textarea {
	user-select: all;
	-webkit-user-select: all;
}

button {
	touch-action: manipulation;
}
